.profileInfo {

}

.profile__wallpaper img {
  width: 1220px;
}

.profile__description {
  padding: 20px;
  display: flex;
  justify-content: left;
}

.profile__description__avatar img {
  width: 200px;
  border-radius: 5px;
}

.profile__description__info {
  margin-left: 30px;
}