.App {
  margin: 0 auto;
  display: grid;
  grid-template-areas:
  "hd hd"
  "nv ca"
  "ft ft";
  grid-template-rows: 60px 1fr 20px;
  grid-template-columns: 2fr 10fr;
}

.app-wrapper-content {
  grid-area: ca;
  background-color: #efebeb;
}

button {
  margin: 5px 0;
  min-width: 100px;
  min-height: 25px;
  border: none;
  border-radius: 2px;
  background-color: #97c5be;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
}