.App {
  margin: 0 auto;
  display: grid;
  grid-template-areas:
  "hd hd"
  "nv ca"
  "ft ft";
  grid-template-rows: 60px 1fr 20px;
  grid-template-columns: 2fr 10fr;
}

.header {
  grid-area: hd;
  background-color: #e0ddd0;
}

.header img {
  margin: 5px;
  width: 50px;
}

.navigation {
  padding: 20px;
  grid-area: nv;
  background-color: #d0e7e3;
}

.content-area {
  grid-area: ca;
  background-color: #efebeb;
}

.content-area img {
  width: 1220px;
}

.footer {
  grid-area: ft;
  background-color: #d5d4d4;
}