.App {
  margin: 0 auto;
  display: grid;
  grid-template-areas:
  "hd hd"
  "nv ca"
  "ft ft";
  grid-template-rows: 60px 1fr 20px;
  grid-template-columns: 2fr 10fr;
}

.app-wrapper-css {
  grid-area: ca;
  background-color: #efebeb;
}