.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.dialogs__items {
  padding: 10px;
}

.dialog a {
  color: #317285;
  text-decoration: none;
}

.dialog a.active {
  color: #d9c01e;
}

.dialogs__chats {
  padding: 10px;
}

.chat {

}